section{
  border: 1px solid black;
  min-width: 400px;
  max-width: 400px;
  margin: 50px auto;
  user-select: none;
  label.major-input{
    display: block;
    font-size: 1.5em;
    font-family: headerBold;
    margin: 10px 0px;
  }
  input.major-input{
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    font-size: 2em;
  }
  div.form-wrapper{

    div{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}