div.project-list{
  header{
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

div.project-item-wrapper{
  display: flex;
  margin: 0px 5em;
}