/* Main.jsx에 연결해서 전역으로 사용가능 한 듯*/
@font-face {
  font-family: "HeaderBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-style: normal;
}
@font-face {
  font-family: 'BodyPlain';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


:root {
  font-size: 14px;
  font-family: 'BodyPlain';
}

.ui-dark {
  --outline-color: rgb(218, 218, 218);
}

.ui-light {
  --white:rgb(255,255,255);
  --outline-color: #303030;
  --text-color-main: rgb(48, 48, 48);
  --gray-bright : #a7a7a7;
  --gray : rgb(110,110,110);
  --warning: #e81714;
  --pass: #1ef03b;
  --green:#7ace86;
  --quaternary:#f884f2;
  --green-bright:rgb(173, 240, 183);
  --orange: #eb912b;
  --blue: #78bef0;

  color: var(--outline-color);
}

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: "HeaderBold";
}
