h1 {
  font-family: "HeaderBold";
  font-weight: 500;
  font-size: 2.4em;
}

div#header {
  display: flex;
  min-width: 600px;
  align-items: end;
  justify-content: space-between;
  height: 5em;
  padding: 0 1em 0.5em;
  border-bottom: 1px solid var(--outline-color);
  a.link-to-main{
    text-decoration: none;
    color: var(--text-color-main);
  }

  h1 {
    margin: 0 0 0 0.3em;
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    div{
      padding: 3px;
      &.register {
        border-left: 1px solid var(--outline-color);
      }
    }
    a {
      font-size: 1.4em;
      font-family: "HeaderBold";
      text-decoration: none;
      color: var(--text-color-main);
    }
  }
  div.user-info-component{
    display: flex;
    justify-content: flex-start;
    min-width: 200px;
    height: 50px;
    border: 1px solid red;
    border-radius: 10px;
    a{
      display: flex;
    }
    div.icon{
      width: 50px;
      height: 50px;
      margin: 5px;
      border: 1px solid var(--outline-color);
      border-radius: 5px;
    }
    div.user-info{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0px;
      div.user-name{
        font-size: 1.1em;
        font-weight: bold;
        padding: 0px;
      }
      div.user-email{
        font-size: 1em;
        padding: 0px;
      }
    }
  }
}
