
div.index{
  color: var(--text-color-main);
  div.center-wrapper{
    margin: auto;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    div.center-circle{
      width: 400px;
      height: 400px;
      border: 2px solid var(--outline-color);
      border-radius: 50%;
    }
  }
}